@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: NeueMontreal;
    src: url(./assets/fonts/NeueMontreal-Regular.ttf);
}
@font-face {
    font-family: FoundersGrotesk;
    src: url(./assets/fonts/FoundersGroteskXCond-Bold.otf);
}
.font-neuemontreal{
    font-family: NeueMontreal, sans-serif;
}
.bg-whites{
    background-color: #EDEDED;
}
.font-foundersgrotesk{
    font-family: FoundersGrotesk, sans-serif;
}